<!-- 
<div class="container">
    <div class="loginbox">
        <h3>Signin</h3>
        <div class="acnobox">
            <input (change)="acnoChange($event)" type="number" id="accountnumber" placeholder="Enter Account Number">
        </div>
        <div class="passbox">
            <input (change)="passChange($event)"  type="password"  id="pass" placeholder="enter password">
        </div>
        <div class="buttonbox">
            <button (click)="login()" type="button">Login</button>
        </div>
    </div>
</div> -->


<!-- template rendering binding -->

<div class="container">
    <div class="loginbox">
        <h3>Signin</h3>
        <form action="" (ngSubmit)="login()">
            <div class="box">
                <input [(ngModel)]="acno" type="number" name="accountnumber" id="accountnumber" placeholder="Enter Account Number">
            </div>
            <div class="box">
                <input [(ngModel)]="pass" type="password" name="pass"  id="pass" placeholder="enter password">
            </div>
            <div class="box">
                <button  type="submit">Login</button>
            </div>

            <a href="" routerLink="register"><b>register here</b></a>
        </form> 
    </div>
</div>
