<!-- 
<div class="container">
    <div class="loginbox">
        <h3>Signin</h3>
        <div class="acnobox">
            <input (change)="acnoChange($event)" type="number" id="accountnumber" placeholder="Enter Account Number">
        </div>
        <div class="passbox">
            <input (change)="passChange($event)"  type="password"  id="pass" placeholder="enter password">
        </div>
        <div class="buttonbox">
            <button (click)="login()" type="button">Login</button>
        </div>
    </div>
</div> -->


<!-- template rendering binding -->

<div class="container">
    <div class="loginbox">
        <h3>Signin</h3>
        <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="box">
                <input formControlName="acno" type="text" name="accountnumber" id="accountnumber" placeholder="Enter Account Number">
            </div>
            <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched ">
                <p style="color: red;">invalid account number</p>
            </div>
            <div class="box">
                <input formControlName="pass" type="password" name="pass"  id="pass" placeholder="enter password">
            </div>
            <div *ngIf="this.loginForm.get('pass')?.errors && this.loginForm.get('pass')?.touched ">
                <p style="color: red;">invalid password</p>
            </div>
            <div class="box">
                <button  type="submit">Login</button>
            </div>

            <a href="" routerLink="register"><b>register here</b></a>
        </form> 
    </div>
</div>
