<div class="register-main">
    <div class="register-box">
        <h1>Register</h1>
        <div class="reginp">
            <input type="number" [(ngModel)]="uacno" id="acno" name="acno" placeholder="Account Number">
        </div>
        <div class="reginp">
            <input type="text" [(ngModel)]="uname" id="uname" name="uname" placeholder="User name">
        </div>
        <div class="reginp">
            <input type="password"[(ngModel)]="upass" name="pswrd" id="pswrd" placeholder="Password">
        </div>
        <div class="reginp">
            <button type="button" (click)="register()">Register Now</button>
        </div>
    </div>
</div>
